apiVersion: k8s.ovn.org/v1
kind: UserDefinedNetwork
metadata:
  name: {{ network.name }}
  namespace: {{ namespace }}
spec:
  topology: Layer2
  layer2:
    role: Secondary
    ipam:
      mode: Disabled
